/* Heading styles */
h1.note_main,
h2.note_main,
h3.note_main,
h4.note_main {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Emphasized text styles */
em.emphasized-text {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

/* Paragraph styles */
p.paragraph {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Code block styles */
pre.code-block {
  background-color: #EDEEEE;
  color: #000;
  padding: 10px;
  border-radius: 4px;
  overflow: auto;
}

code.code {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Pathway Extreme', sans-serif;
  font-family: 'Space Mono', monospace;
}

/* List styles */
ol.ordered-list,
ul.unordered-list {
  list-style: none;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

li.list-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.note_body {
  padding-right: 50px;
  padding-left: 50px;
}
