{% extends "layout.html" %}
{% block feed_body %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Landing Page</title>
    <style>
    body {
      background-image: url("{{ url_for('static', filename='wallpaper.jpg') }}");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="text-center">
      <div class="home_title">
      <h1 class="display-4">Hi There!</h1>
      <p class="lead">Welcome to my awesome landing page.</p>
      </div>
      <p>I'm glad you're here. Remember, every day is a new opportunity to <strong>strive for greatness</strong>.</p>
      <div class="home_date">
      <p class="current-info">Current Date: <span id="current-date"></span></p>
      <p class="current-info">Current Time: <span id="current-time"></span></p>
        </div>
      <div class="home_button">
      <a class="btn btn-secondary" href="{{ url_for('feeds') }}">RSS Feeds</a>
      <a class="btn btn-secondary" href="{{ url_for('incomplete') }}">To Do</a>
        </div>
    </div>
  </div>

  <script>
    function updateDateTime() {
      var currentDate = new Date();
      var dateElement = document.getElementById("current-date");
      dateElement.textContent = currentDate.toDateString();

      var timeElement = document.getElementById("current-time");
      timeElement.textContent = currentDate.toLocaleTimeString();
    }

    // Update date and time every second
    setInterval(updateDateTime, 1000);
  </script>
</body>
</html>
{% endblock %}
