
{% extends 'layout.html' %}

{% block feed_body %}
<div class="container">
        <h1 class="text-center">Update Task</h1>

        
        <form action="{{ url_for('update', id=task.id)}}" method="POST">
            <div class="input-group mb-3">
            <input type="text" name="content" id="content" value="{{task.content}}" required>
                <input type="date" name="completion_date" id="completion_date" value="{{ task.completion_date.strftime('%Y-%m-%d') if task.completion_date else '' }}">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
        </form>
    </div>
{% endblock %}