{% extends 'layout.html' %}

{% block feed_body %}

    <h1 style="padding-left: 20px;">File Browser - {{ current_directory }}</h1>
    <ul style="padding-left: 20px;">
        {% if current_directory != '.' %}
            <li>
                <a href="{{ url_for('noteindex', directory='..') }}">.. (parent directory)</a>
            </li>
        {% endif %}
        {% for file in files %}
            <li>
                {% if file.is_directory %}
                    <a href="{{ url_for('noteindex', directory='/' + file.path) }}">{{ file.name }}</a> (directory)
                {% else %}
                    <a href="{{ url_for('view_file', filename=file.path) }}">{{ file.name }}</a> (file)
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
